@import "@sdbank/ui/global.css";
@import "tailwindcss";

@source "../";
@source "../node_modules/@sdbank/ui/dist/src";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  background-color: #f9fafb;
}
